#searchBar{
    background-color: whitesmoke;
    width: 100%;
    min-width: 200px;
    padding: 5px;
    display: flex;
    align-items: center;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

#search-icon{
    /* color: royalblue; */
    color: rosybrown;
}