@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,400;0,600;1,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    /* font-family: poppins; */
    background-color: aliceblue;
}

.container{
    min-height: 100vh;
}

.container h1, h2 {
    text-align: center;
    margin: 3%;
}

.container form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.container form label {
    margin: 1% 30%;
}

.container form input[type='number'], select {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 6px;
    margin: 0 30%;
    border-radius: 5px;
}

.btn {
    margin: 3% 30%;
    padding: 2px;
    width: 10vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #c5d0f7;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e3e9fd;
    color: rgb(80, 61, 255);
    cursor: pointer;
}

nav {
    padding: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #c5d0f7;
    /* position: fixed; */
    display: flex;
    justify-content: start;
    filter: drop-shadow(0px -5px 5px black);
}

#logo {
    width: 2rem; 
    margin: 10px;
    margin: 8px 32px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    text-decoration: none;
    margin: 10px 32px ;
}

nav li a {
    text-decoration: none;
    color: black;
    transition: all;
    transition-duration: 250ms;
}

nav li a:hover {
    color: rgb(156, 145, 255);
}

.output{
    display: none;
}

.output table {
    width: 60vw;
    border: 2px solid black;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
}

footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* For Responsiveness*/

/* @media (max-width: 750px){
    body{
        background-color: rgb(70, 216, 216);
    }
} */